@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --border-style: 1px solid #d3d3d3;
}
*{
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #333;
}
body {
  margin: 0;
  min-width: 850px;
}
.false-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../img/blb-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden {
  display: none;
}
/*
██████   █████  ████████ ███████ ██████  ██  ██████ ██   ██ ███████ ██████
██   ██ ██   ██    ██    ██      ██   ██ ██ ██      ██  ██  ██      ██   ██
██   ██ ███████    ██    █████   ██████  ██ ██      █████   █████   ██████
██   ██ ██   ██    ██    ██      ██      ██ ██      ██  ██  ██      ██   ██
██████  ██   ██    ██    ███████ ██      ██  ██████ ██   ██ ███████ ██   ██
*/
.calendar {
  font-size: 0;
  padding: 10px;
  min-height: 160px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50px;
  border: 1px solid #333;
  background-color: white;
  box-shadow: 3px 4px 10px #333;
}
.calendar table {
  font-size: 16px;
}
.calendar th:nth-child(n+6) {
  color: red;
}
.calendar .ddl-row {
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.calendar .btnDay {
  width: 100%;
  display: inline-block;
  border: 0;
  background-color: transparent;
  transition: all .25s;
  cursor: pointer;
}
.calendar .btnDay:hover {
  background-color: #ddd;
  border-radius: 5px;
  font-weight: bold;
}

/*
███    ███  █████  ██ ███    ██     ███████  ██████  ██████  ███    ███
████  ████ ██   ██ ██ ████   ██     ██      ██    ██ ██   ██ ████  ████
██ ████ ██ ███████ ██ ██ ██  ██     █████   ██    ██ ██████  ██ ████ ██
██  ██  ██ ██   ██ ██ ██  ██ ██     ██      ██    ██ ██   ██ ██  ██  ██
██      ██ ██   ██ ██ ██   ████     ██       ██████  ██   ██ ██      ██
*/

form {
  display: inline-block;
  width: 400px;
  min-height: 220px;
  padding: 20px 20px 10px;
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 200px);
  background-color: white;
  border: 1px solid #d2d2d2;
  box-shadow: 2px 2px 25px rgb(65, 65, 65);
}
form label {
  width: 160px;
}
.currentDate {
  text-align: right;
  font-weight: bold;
  width: auto;
}
.btnCalendar {
  margin-left: 160px;
}
form input {
  flex-grow: 1;
  border: var(--border-style);
  border-radius: 4px;
  padding: 1px 6px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-row--buttons {
  margin-top: 24px;
}
.btn-game-nav {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#FAFAFA));
  border: var(--border-style);
  border-radius: 4px;
  cursor: pointer;
}
.btn-game-nav:hover {
  border-color: #999;
}
